@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Raleway:wght@500&display=swap');

:root {
    --backColor: rgb(41, 41, 41);
    --textColor: white;
}

main {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body {
    margin: 0px;
    background-color: var(--backColor);
    color: var(--textColor);
    box-sizing: border-box;
    font-family: "Montserrat";
}



#colorBlock {
    position: absolute;
    left: -120%;
    width: 100%;
    height: 1000px;
    transform: rotate(-35deg);
    background-color: rgba(186, 25, 25, 0.15);
    transition: all 300ms ease-in-out;
}



@keyframes swoop {

    99% {
        left: 0%;
        opacity: 0%;
    }
    100% {
        left: 120%;
        opacity: 100%;
    }

}

header {
    box-sizing: border-box;
    position: fixed;
    border-bottom: solid white 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: 80px;
    background-color: var(--backColor);
    color: var(--textColor);
    padding: 20px;
    overflow: hidden;
  }


svg {
    margin-left: 50px;
    height: 50px;
    width: auto;
    filter: drop-shadow( 0px 0px 5px rgba(186, 25, 25, 0.7));
    color: rgb(73, 127, 215);
    transition: filter 400ms ease-in-out;
}

hr {
    background-color: white;
}

nav {
    z-index: 100;
    margin-right: 5%;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

header li {
    color: rgb(218, 218, 218);
    transition: all 200ms ease-in-out;
}

header li:hover {
    color: var(--textColor);
    transform: scale(103%);
}

/* set text shadows for nav elements */
header li:nth-child(1):hover {
    text-shadow: 0px 0px 5px gold;
}

header li:nth-child(2):hover {
    text-shadow: 0px 0px 5px rgb(16, 175, 16);
}

header li:nth-child(3):hover {
    text-shadow: 0px 0px 5px rgb(73, 127, 215);
}

header li:nth-child(4):hover {
    text-shadow: 0px 0px 5px rgb(139, 52, 190);
}

header li:nth-child(5):hover {
    text-shadow: 0px 0px 5px white;
}

a {
    text-decoration: none;
    color: inherit;
}

.mainContent {
    padding-top: 15vh;
    margin: 0px 17% 10% 17%;
}

.aboutContainer {
    display: flex;
    position: relative;
    justify-content: space-between;
}

#aboutPageH1 {
    list-style-type: none;
    padding-left: 0;
    width: 300px;
}

#aboutPageH1 > li {
    transition: all 300ms ease-in-out;
    color: rgb(210, 210, 210);
}

#aboutPageH1 > li:hover {
    transform: scale(103%);
    color: rgb(73, 127, 215);
}

#aboutPageH1 > li > h1 {
    margin: 0;
    padding: 0.67em;
}

#theMan {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
}

#theMyth {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transition: opacity 400ms ease-in-out;

}

#theLegend {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    transition: opacity 400ms ease-in-out;
}

/* @keyframes reveal {
    0% {
    display: block;
    opacity: 0%;
}
    100% {opacity: 100%}
} */

