@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Raleway:wght@500&display=swap');

:root {
    --backColor: rgb(41, 41, 41);
    --textColor: white;
}


body {
    background-color: var(--backColor);
    color: var(--textColor);
    box-sizing: border-box;
    font-family: "Montserrat";
}

header {
    box-sizing: border-box;
    position: fixed;
    border-bottom: solid white 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: 80px;
    background-color: var(--backColor);
    color: var(--textColor);
    padding: 20px;
  }

svg {
    margin-left: 50px;
    height: 50px;
    width: auto;
    filter: drop-shadow( 0px 0px 5px rgba(186, 25, 25, 0.7));
    color: rgb(73, 127, 215);
    transition: filter 400ms ease-in-out;
}

hr {
    background-color: white;
}

nav {
    margin-right: 5%;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

header li {
    color: rgb(218, 218, 218);
    transition: all 200ms ease-in-out;
}

header li:hover {
    color: var(--textColor);
    transform: scale(103%);
}

/* set text shadows for nav elements */
header li:nth-child(1):hover {
    text-shadow: 0px 0px 5px gold;
}

header li:nth-child(2):hover {
    text-shadow: 0px 0px 5px rgb(16, 175, 16);
}

header li:nth-child(3):hover {
    text-shadow: 0px 0px 5px rgb(73, 127, 215);
}

header li:nth-child(4):hover {
    text-shadow: 0px 0px 5px rgb(139, 52, 190);
}

header li:nth-child(5):hover {
    text-shadow: 0px 0px 5px white;
}

a {
    text-decoration: none;
    color: inherit;
}